@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Big+Shoulders+Display&family=Bungee+Spice&family=Lexend+Deca:wght@300&display=swap');

.vanish {
    display: none;
}
.block {
    display: flex !important;
}
* {
    background-color: #0E141B;
    padding: 0;
    margin: 0;
    max-height: auto;
}
header {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}
h1 {
    font-weight: lighter;
    font-family: 'Alfa Slab One';
    color: #ffff63;
}
.upper {
    text-transform: uppercase;
    
}
main {
    height: 91.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.startBtn {
    cursor: pointer;
    color: #ffff63;
    height: 10vh;
    width: 20vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: #1a2129;
    transition: 0.5s;
}
#startBtn:hover {
    transform: scale(1.2);
}
.napsImg {
    display: none;
}
.napsImgBlock {
    display: grid;
    transition: 5s;
}
.zoom {
    transform: scale(3) rotate(6turn);
}
.score {
    color: #ffff63;
    font-size: 30px;
    margin-bottom: 8vh;
    font-family: Arial, Helvetica, sans-serif;
}
.btn {
    cursor: pointer;
    color: #ffff63;
    height: 7vh;
    width: 15vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: #1a2129;
    transition: 0.4s;
}
.btn:hover {
    background-color: #2a3240;
    color: yellow;
}
.containerGame {
    height: 90vh;
    width: 85vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}
.containerButton {
    text-align: center;
    height: 15vh;
}
.bar {
    position: absolute;
}
.containerPunchline {
    border: #2a3240 solid 3px;
    height: 30vh;
    width: 50vw;
    text-align: center;
    margin-bottom: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.punchlineDiv {
    color: #ffff63;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}