@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Big+Shoulders+Display&family=Bungee+Spice&family=Lexend+Deca:wght@300&display=swap');

.vanish {
    display: none;
}
.flex {
    display: flex !important;
}
.block {
    display: block !important;
}
* {
    background-color: #0E141B;
    padding: 0;
    margin: 0;
    max-height: auto;
}
header {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    border-bottom: #ffff63 solid 1px;
    height: 7vh;
}
h1 {
    font-weight: lighter;
    font-family: 'Alfa Slab One';
    color: #ffff63;
}
.upper {
    text-transform: uppercase;
    
}
main {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.startBtn {
    cursor: pointer;
    color: #ffff63;
    height: 10vh;
    width: 20vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: #1a2129;
    transition: 0.5s;
}
.startBtn:hover {
    transform: scale(1.1);
}
.napsImg {
    display: none;
}
.napsImgBlock {
    display: grid;
    transition: 5s;
}
.zoom {
    transform: scale(3) rotate(6turn);
}
.score {
    color: #ffff63;
    font-size: 35px;
    margin-bottom: 8vh;
    font-family: Arial, Helvetica, sans-serif;
}
.btn {
    cursor: pointer;
    color: #ffff63;
    height: 7vh;
    width: 15vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: #1a2129;
    transition: 0.4s;
    margin: 5px;
}
.btn:hover {
    background-color: #2a3240;
    color: yellow;
}
.containerGame {
    height: 90vh;
    width: 85vw;
    display: none;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}
.containerButton {
    text-align: center;
    height: 25vh;
}
.bar {
    position: absolute;
}
.round {
    margin-bottom: 4vh;
    color: #ffff63;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
.containerPunchline {
    border: #2a3240 solid 3px;
    height: 30vh;
    width: 50vw;
    text-align: center;
    margin-bottom: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.punchlineDiv {
    color: #ffff63;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes rainbow{
    100%,0%{
        color: #EDED6D;
    }
    25%{
        color: #DACC3E; 
    }
    41%{
        color: #C8D96F
    }
    50%{
        color: #E0FF4F;
    }
    75%{
        color: #FAC60C;
    }
    91%{
        color: #FFB81F;
    }
}
.containerEnd {
    display: none;
}
.endGame {
    margin-bottom: 15vh;
}
.containerScoreEnd {
    text-align: center;
    margin-bottom: 15vh;
}
.containerScoreEnd h1 {
    font-size: 30px;
}
.containerScoreEnd p {
    animation: infinite rainbow 1s;
    border: #ffff63 solid 1px;
    margin-top: 10vh;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}